@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #e86471;
  --primary-color-dark: #c95762;
  --text-dark: #100629;
  --white: #ffffff;
  --max-width: 1200px;
  --border-radius: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}


nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  max-width: 300px;
  z-index: 1;
}